<a href=@Url.Action("GioHang", "GioHang") style="color: white; font-weight: bold; text-decoration: none;">

    <img width="25px" height="25px" src="/Content/Images/delivery.png" /> Giỏ Hàng(@ViewBag.TongSoLuong)
</a>
