
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align: center">Đơn Hàng Của Quý Khách Đã Được Xác Nhận , Chúng Tôi Sẽ Liên Lạc Sớm Nhất Và Giao Hàng Đúng Hẹn .<br/>
    <span style="font-weight: bold; color: blue;">Xin Cám Ơn Quý Khách</span></h2>


    <a href=" @Url.Action("Index", "BookStore")" class="btn btn-primary" style="color: white; text-decoration: none;float: right; margin-top: 30px;">
        Về Trang Chủ
    </a>


